* {  margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
header{padding: 10px;
    display: flex;
    flex-direction: row;
    background-color: rgb(30, 32, 32);
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: space-between;

}
nav a{text-decoration: none;
    font-style: normal;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: larger;
    color:white;
    position: relative;
    text-decoration: none; 
}

#logo{
    padding-left: 5px;
    flex-grow:8;
}
.navigator{
    flex-grow: 1;
}
nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px; 
    width: 0;
    height: 2px;
    background: rgb(255, 254, 254); 
    transition: 0.5s ease;
}
#Shop::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px; 
    width: 0;
    height: 2px;
    background: rgb(255, 254, 254);  
    width: 100%;
}
nav a:hover::after {
    width: 100%;
}


#Shopping-cart img{
    height: 30px ;
    width: auto;
}